* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
h1, p {
    text-align: center;
  }
  img {

    border: 10px solid rgb(0, 0, 0);	 
    border-radius: 8px;   
margin-left: auto;
margin-right: auto;
display: block;
}
.main-header {
    background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 56, 62));
    position: fixed;
    top: 0;
    right: 0; 
    left: 0;
    height: 48px;  
 }
 .header-info {
    text-align: left;
    position: absolute;
    left: 0;
    padding:0 ;
    margin: 14px 14px 0 14px;
 }
 .header-info a {
    padding: 0;
    text-decoration: none;
    color: rgb(255, 255, 255);
 }
 .header-info a:hover {
    background-color: rgb(0, 56, 62);
 }
 nav {
    position: absolute;
    right: 0;
    display: flex;
  }
  
  .hhh a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 15px;
    float: left;
  }
  
  .hhh a:hover {
    background-color: rgb(0, 56, 62);
  }

  .jumbotron {
    margin-top: 5%;
  }

  .title {
    font-style: italic;
    color: rgb(0, 0, 0);
}
h1, h2, h3, p {
    text-align: center;
    color: rgb(255, 255, 255);
}
.items {
    display: flex;
    justify-content: center;
}
.item {
    display: flex;
    flex-direction: column;
    margin: 10px;
    background-color: rgb(0, 0, 0);
    border-radius: 8px; 
    h3, p {
      text-align: center;
      padding: 5px;
      color: rgb(255, 255, 255);
   }
  }  


.item:hover {
  opacity: 0.5;}
.landscape {
    max-width: 350px;
    max-width: 100%;
    height: 200px;
    /* 350,200 */
}
.landscape2 {
  width: 200px;
  height: 100px;}
.main{
  h1,p {
    color: rgb(255, 255, 255);
  }
}
body{
  background-image: url(https://media.istockphoto.com/id/1412765628/vector/abstract-speed-business-start-up-launching-product-with-electric-car-and-city-concept-hitech.jpg?s=612x612&w=0&k=20&c=ZcK2rLxON2s1q-dFKnxlUq2mwhF9hG1LLGw7pVrIbeE=);
  background-size: cover;
}

tr, th, td {
  justify-content: center;
  border: 2px solid rgb(17, 11, 172);
  border-collapse: collapse;	    
  color: aliceblue;
  background-color: black;
  padding: 10px;

}
table{
  border-collapse: collapse;	    

  text-align: center;
  margin: 25px auto;
  width: 50%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.tab {
  background-color: rgb(0, 0, 0);
  width: 300px;
  padding: 40px;
  margin: 20px;
  border-radius: 20px;
}
h1.name {
  font-size: 30px;
  letter-spacing: 2px;
  margin-bottom: 20px;
  color: rgb(255, 255, 255);
}
h2.price {
  font-size: 38px;
  color: rgb(255, 255, 255);
}

.list {
  list-style-type: disc;
  margin-bottom: 50px;
  text-align: left;
}

.list li {
  margin-top: 20px;
  color: rgb(255, 255, 255);
}

hr {
  height: 7px;
  width: 80%;
  margin: auto;
  background-color: rgb(71, 213, 211);
  border: none;
  border-radius: 50px;
  margin-top: 20px;
}

button {

  background-color: rgba(62, 242, 255, 0.616);
  border-radius: 8px;
  color: white;
  padding: 8px;
  border: none;
  font-size: 20pt;
}
button:hover {
  transform: scale(1.2, 1.2);
  background-color: rgb(62, 242, 255, 0.616); 
  opacity: 0.5;
  cursor: pointer;
}
.btn{
  display: flex;
  justify-content: center;
  align-items: center;
}

div.about {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 30px;
  background-color: rgb(0, 0, 0);
  width: 80%;
}

/* ABOUT */
.about {
  display:space-between;
  text-align: left;
  color: rgb(255, 255, 255);
  padding: 10px;
  width: 100%;
}

.abtdesc{
text-align: left;
}
div.image-about {
  margin-bottom: auto;
  margin-top: auto;
}

img.about-us {
  width: 300px;
  border-color: aqua;
  border-width: 3px;
}
img.landscape{
  width: 100%;
;
}
.content{
  width: 50%;
}

/* FOOTERRRRR */
footer {
  background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 61, 73));;
}

.main-footer { 
  display: flex;
  justify-content: center;
  width: 100%;
}

.left-footer {
  margin-right: auto; 
  margin-left: 40px;
}

.right-footer {
  margin-left: auto;
  margin-right: 40px;
}

.center-footer {
  margin-left: 20px;
  margin-right: 20px;
}

.info-left {
  color: rgb(255, 255, 255);
  text-align: left;
  width: 100%;
}
.info-right {
  color: rgb(255, 255, 255);
  text-align: right;
  width: 100%;
}

.info-center {
  color: rgb(255, 255, 255);
  text-align: center;
  width: 100%;}

  .fa-map-marked-alt, .fa-map-pin, .fa-address-book, .fa-phone, .fa-instagram, .fa-car,.fa-home,.fa-dollar-sign,.fa-info-circle {
    margin: 6px;
}